.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .bg-image {
    width: 3024px;
    height: 100%;

    animation-name: pan;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-size: 1008px 567px;
    background-repeat: repeat-x;
  }
}

.bg1 {
  z-index: 1;
  background-image: url('/dist/assets/backgrounds/bg1.png');
  animation: none;
}

.bg2 {
  z-index: 2;
  background-image: url('/dist/assets/backgrounds/bg2.png');
}

.bg3 {
  z-index: 3;
  background-image: url('/dist/assets/backgrounds/bg3.png');
}

.bg4 {
  z-index: 4;
  background-image: url('/dist/assets/backgrounds/bg4.png');
}

.bg5 {
  z-index: 5;
  background-image: url('/dist/assets/backgrounds/bg5.png');
}

@keyframes pan {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1008px, 0, 0);
  }
}
