.runner-game {
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: grid;
  grid-template-areas:
    'background-area'
    'foreground';
  grid-template-rows: minmax(0, 567px) minmax(0, auto);

  .background {
    grid-area: background-area;
    position: relative;

    display: flex;
    align-items: flex-end;
  }

  .foreground {
    grid-area: foreground;
    border-top: 1px solid black;
  }
}
