.player {
  position: absolute;
  z-index: 50;
  width: 32px;
  height: 48px;
  margin-left: 50px;
  bottom: 22px;
  transform: scale(2);
  background-image: url('/dist/assets/sprites/cat2-walk.png');
  //border: 1px solid lightgreen;

  &.running {
    animation: runAnim 1s steps(6) infinite;
  }

  &.jumping {
    animation: jump 1.2s cubic-bezier(0.5, 1, 0.5, 1) 1, jumpAnim 1s step-end 1;
  }

  &.dead {
    background-image: url('/dist/assets/sprites/cat2-death.png');
    animation: death 0.8s steps(3) 1 forwards;
  }
}

@keyframes jump {
  0% {
    transform: translate3d(0, 0, 0) scale(2);
  }
  50% {
    transform: translate3d(0, -200px, 0) scale(2);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(2);
  }
}

@keyframes jumpAnim {
  0% {
    background-position: 0px;
  }
  5% {
    background-position: -48px;
  }
  10% {
    background-position: -96px;
  }
  90% {
    background-position: -144px;
  }
  95% {
    background-position: -240px;
  }
  99% {
    background-position: -288px;
  }
}

@keyframes runAnim {
  100% {
    background-position: -288px;
  }
}

@keyframes death {
  100% {
    background-position: -156px;
  }
}
