.player {
  width: 100px;
  height: 100px;
  background-color: blue;
  margin-left: 50px;

  &.jumping {
    animation: jump;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
}

@keyframes jump {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -400px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
