@import '../../app.scss';

.game-over-menu {
  width: 400px;
  height: 300px;
  font-family: $font;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
