.obstacle-container {
  position: absolute;
  width: 42px;
  height: 32px;
  right: -100vw;
  bottom: 16px;
  animation: moveLeft 20s linear 1;
}

.obstacle {
  z-index: 50;
  width: 42px;
  height: 32px;

  animation: attackAnim 1s steps(4) infinite;
  transform: scale(-2, 2);
  background-position: -4px 32px;
  //border: 1px solid red;

  &.dog1 {
    &.attacking {
      background-image: url('/dist/assets/sprites/dog-attack.png');
    }
    &.idle {
      background-image: url('/dist/assets/sprites/dog-idle.png');
    }
  }

  &.dog2 {
    &.attacking {
      background-image: url('/dist/assets/sprites/dog2-attack.png');
    }
    &.idle {
      background-image: url('/dist/assets/sprites/dog2-idle.png');
    }
  }

  &.paused {
    animation-play-state: paused;
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-250vw);
  }
}

@keyframes attackAnim {
  100% {
    background-position: -192px 32px;
  }
}
